<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TreasureHunt</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="materialize.min.css">
    <style>
    body{
       
       
        background: url('bg3.jpg') no-repeat 50%50%;
        background-size: cover;
    }
    #t{
        opacity: 0.7;
        text-align: center;
    }
    #an{
        display: inline-block;
        opacity: 0.7;
        background-color: black;
        margin:20px auto ;
      padding:10px 20px;;
      border-radius: 17px;
      height:220px;
    }
    a{
        margin:0% auto;
        width:30%;
    }
    a.btn {
        /* background-color: blueviolet; */
    }
    #an:hover{
        opacity: 0.85;
        transition-duration: .5s;
    }
    .activet{
        background-color:grey;
    }
    input {
             color: white;
            }
    span{
        font-size: 50px;
        color: red;
    }
    .btn-primary.button1:hover{
        /* font-size:25px; */
        background-color: rgba(255, 255, 255, 0.3) !important;
        /* color: black; */
        /* transition-duration: 0.6s; */
    }
    p{
        color:white;
        font-family: 'Anton', sans-serif;
        font-size: 36px;
       

    }
    #smaller {
        font-size: 28px;
    }

    .btn-primary.button1 {
        border: 1px solid white;
        background-color: rgba(255, 255, 255, 0.1) !important;
        color: white;
        font-weight: 500;
        letter-spacing: 3px;
    }
    </style>
</head>
<body>
       
</br>
</br>
</br>
    <div class=" white-text container center">
            <img class="responsive-img"src="logo3.png" height="15%" width="15%" alt="Kalpana"> 
            
           </div>
           <div class=" white-text container center">
                <img class="responsive-img"src="Kalpana.png" alt="Kalpana"> 
                
               </div>
           
           <div class="container center">
               <div class="row an">
                   
                   <p> WELCOME TO THE TREASURE HUNT!</p>
                   <p id="smaller">The hunt will begin at 09/11/2020 @ 6pm</p>
               </div>
               
           </div>
           
               </div>   

      
    
   
   


</body>

<script src="materialize.min.js"></script>
<script>
const second = 1000,
      minute = second * 60,
      hour = minute * 60,
      day = hour * 24;

let count = new Date('Aug 26, 2018 17:00:00').getTime(),
    x = setInterval(function() {

      let now = new Date().getTime(),
          distance = count - now;

      document.getElementById('days').innerText = Math.floor(distance / (day)),
        document.getElementById('hours').innerText = Math.floor((distance % (day)) / (hour)),
        document.getElementById('minutes').innerText = Math.floor((distance % (hour)) / (minute)),
        document.getElementById('seconds').innerText = Math.floor((distance % (minute)) / second);
    },second);      

</script>

</html>